<!-- <p>css-slider works!</p>
<div class="conteiner-slider">
  <div class="slider">
    <div class="slide slide1">
      <div class="caption">
        <h2>Slide 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sapiente assumenda
          asperiores perferendis quasi quisquam
          facilis amet velit cumque ducimus soluta?
        </p>
      </div>
    </div>
    <div class="slide slide2">
      <div class="caption">
        <h2>Slide 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sapiente assumenda
          asperiores perferendis quasi quisquam
          facilis amet velit cumque ducimus soluta?
        </p>
      </div>
    </div>
    <div class="slide slide3">
      <div class="caption">
        <h2>Slide 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sapiente assumenda
          asperiores perferendis quasi quisquam
          facilis amet velit cumque ducimus soluta?
        </p>
      </div>
    </div>
    <div class="slide slide4">
      <div class="caption">
        <h2>Slide 4</h2>
        <p>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sapiente assumenda
          asperiores perferendis quasi quisquam
          facilis amet velit cumque ducimus soluta?
        </p>
      </div>
    </div>
    <div class="slide slide5">
      <div class="caption">
        <h2>Slide 5</h2>
        <p>Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sapiente assumenda
          asperiores perferendis quasi quisquam
          facilis amet velit cumque ducimus soluta?
        </p>
      </div>
    </div>
  </div>
</div>
 -->
