<p>slider-js works!</p>


<!-- <div class="w3-container">
    <h2>W3.CSS Modal Image</h2>
    <p>Click on the image to display it in full size:</p>

    <img src="/assets/images/isl-ice.webp" style="width:30%;cursor:zoom-in"
    onclick="document.getElementById('modal01').style.display='block'">

    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="/assets/images/isl-ice.webp" style="width:100%">
      </div>
    </div>
  </div> -->

<!--<h2 style="text-align:center">Slideshow Gallery</h2>

    <div class="container">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="/assets/images/isl-hause.webp" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="/assets/images/home.webp" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="/assets/images/isl-ice.webp" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="/assets/images/istock-isl.webp" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="/assets/images/waterfall .webp" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="/assets/images/Waterfall-Iceland.webp" style="width:100%">
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/assets/images/isl-hause.webp" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        </div>
        <div class="column">
          <img class="demo cursor" src="/assets/images/home.webp" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
        </div>
        <div class="column">
          <img class="demo cursor" src="/assets/images/isl-ice.webp" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
        </div>
        <div class="column">
          <img class="demo cursor" src="/assets/images/istock-isl.webp" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
        </div>
        <div class="column">
          <img class="demo cursor" src="/assets/images/waterfall .webp" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
        </div>
        <div class="column">
          <img class="demo cursor" src="/assets/images/Waterfall-Iceland.webp" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
        </div>
      </div>
    </div>
  -->
