<p>images-gallery works!</p>


<div class="gallary">
  <a href="./assets/images/home.webp" data-lightbox="image" data-title="My caption">
    <img src="./assets/images/home.webp">
  </a>
  <a href="./assets/images/kasatka.jpeg"><img src="./assets/images/kasatka.jpeg"></a>
  <a href="./assets/images/isl 4.jpeg"><img src="./assets/images/isl 4.jpeg"></a>
  <a href="./assets/images/protect2.webp"><img src="./assets/images/protect2.webp"></a>
  <a href="./assets/images/nature-4.jpg"><img src="./assets/images/nature-4.jpg"></a>
  <a href="./assets/images/nature-5.jpg"><img src="./assets/images/nature-5.jpg"></a>
  <a href="./assets/images/nature-7.jpg"><img src="./assets/images/nature-7.jpg"></a>
  <a href="./assets/images/nature-8.jpg"><img src="./assets/images/nature-8.jpg"></a>
  <a href="./assets/images/reikyavik.jpg"><img src="./assets/images/reikyavik.jpg"></a>
  <a href="./assets/images/iceland-waterfalls1.jpg"><img src="./assets/images/iceland-waterfalls1.jpg"></a>
</div>
