<p>images-gallery works!</p>

<!-- <div fxLayout="column">
  <div fxLayout="row">
    <div ngOnInit>
      <ul>
        <li *ngFor="let image of images">
              <img [src]="imgGallary" />
        </li>
      </ul>
  </div>
</div>

<img [src]="imgGallary" height="100px;" width=100px;>-->

<div class="gallary">
  <a href="./assets/images/home.jpg" data-lightbox="image" data-title="My caption">
    <img src="./assets/images/home.jpg">
  </a>
  <a href="./assets/images/kasatka.jpeg"><img src="./assets/images/kasatka.jpeg"></a>
  <a href="./assets/images/isl 4.jpeg"><img src="./assets/images/isl 4.jpeg"></a>
  <a href="./assets/images/protect2.jpg"><img src="./assets/images/protect2.jpg"></a>
  <a href="./assets/images/nature-4.jpg"><img src="./assets/images/nature-4.jpg"></a>
  <a href="./assets/images/nature-5.jpg"><img src="./assets/images/nature-5.jpg"></a>
  <a href="./assets/images/nature-7.jpg"><img src="./assets/images/nature-7.jpg"></a>
  <a href="./assets/images/nature-8.jpg"><img src="./assets/images/nature-8.jpg"></a>
  <a href="./assets/images/reikyavik.jpg"><img src="./assets/images/reikyavik.jpg"></a>
  <a href="./assets/images/iceland-waterfalls1.jpg"><img src="./assets/images/iceland-waterfalls1.jpg"></a>
</div>
<img class="bigImg" src="./assets/images/home.jpg">
