

.gallery {
  background: #EEE;
}

.gallery-cell {
  display: flex;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
/* .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
 */



  .example-spacer {
    flex: 1 1 auto;
    justify-content: space-between;
  }

  .button-theme {
   margin-right: 70%;

  }


