<p>slider-light works!</p>



<button mat-button (click)="isShown = !isShown" >Включить карусель</button>

<div class="slider-conteiner-card" *ngIf='isShown'>
  <mat-card class="slider-card card1" *ngFor="let card of img">
    <img mat-card-image src="{{card.imageUrl}}" alt="">
    <mat-card-content style="text-align:center">
      <mat-card-title>
        {{card.productName}}
        </mat-card-title>
        <mat-card-subtitle>
           <h3>{{card.prise + '$'}}</h3>
        </mat-card-subtitle>
        <p>{{'id' + card.productId}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
        </button>
      </mat-card-actions>
  </mat-card>

</div>
<!-- <mat-card class="slider-card card1">
    <img mat-card-image src="/assets/images/naushniki-2.webp" alt="">
    <mat-card-content style="text-align:center">
        <mat-card-title>
            Sony WH-1000XM4
          </mat-card-title>
          <mat-card-subtitle>
             <h3>100$</h3>
          </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
        </button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="slider-card card2">
      <img mat-card-image src="/assets/images/naushniki-3.webp" alt="">
      <mat-card-content style="text-align:center">
          <mat-card-title>
              Sony WH-1000XM4
            </mat-card-title>
            <mat-card-subtitle>
               <h3>100$</h3>
            </mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions>
          <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
          </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="slider-card card3">
        <img mat-card-image src="/assets/images/naushniki-4.webp" alt="">
        <mat-card-content style="text-align:center;">
            <mat-card-title>
                Sony WH-1000XM4
              </mat-card-title>
              <mat-card-subtitle>
                 <h3>100$</h3>
              </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
            </button>
          </mat-card-actions>
      </mat-card>

      <mat-card class="slider-card card4">
          <img mat-card-image src="/assets/images/naushniki-5.webp" alt="">
          <mat-card-content style="text-align:center">
              <mat-card-title>
                  Sony WH-1000XM4
                </mat-card-title>
                <mat-card-subtitle>
                   <h3>100$</h3>
                </mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
              <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
              </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="slider-card card5">
            <img mat-card-image src="/assets/images/naushniki-6.webp" alt="">
            <mat-card-content style="text-align:center">
                <mat-card-title>
                    Sony WH-1000XM4
                  </mat-card-title>
                  <mat-card-subtitle>
                     <h3>100$</h3>
                  </mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
                </button>
              </mat-card-actions>
          </mat-card>

          <mat-card class="slider-card card6">
              <img mat-card-image src="/assets/images/naushniki-3.webp" alt="">
              <mat-card-content style="text-align:center">
                  <mat-card-title>
                      Sony WH-1000XM4
                    </mat-card-title>
                    <mat-card-subtitle>
                       <h3>100$</h3>
                    </mat-card-subtitle>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
                  </button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="slider-card card7">
                <img mat-card-image src="/assets/images/naushniki-2.webp" alt="">
                <mat-card-content style="text-align:center">
                    <mat-card-title>
                        Sony WH-1000XM4
                      </mat-card-title>
                      <mat-card-subtitle>
                         <h3>100$</h3>
                      </mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
                    </button>
                  </mat-card-actions>
              </mat-card>

              <mat-card class="slider-card card8">
                  <img mat-card-image src="/assets/images/naushniki-1.webp" alt="">
                  <mat-card-content style="text-align:center">
                      <mat-card-title>
                          Sony WH-1000XM4
                        </mat-card-title>
                        <mat-card-subtitle>
                           <h3>100$</h3>
                        </mat-card-subtitle>
                  </mat-card-content>
                  <mat-card-actions>
                      <button mat-stroked-button color="primary" style=" width: 90%; margin:5%;">Подробнее
                      </button>
                    </mat-card-actions>
                </mat-card>

</div>
-->
