
.top-twins-conteiner {
  max-width: 610px;
  min-width: 450px;
  margin-right: 1%;
}
.bottom-twins-conteiner {
  max-width: 610px;
  min-width: 450px;
  max-height: 560px;
  min-height: 450px;
  margin-right: 1%;

}

.front-conteiner {
  padding: 3%;
  display: grid;

 /*   display: flex;
  justify-content:  space-around;*/
}

img {
  min-width: 450px;
  object-fit: cover;
  max-height: 250px;
}

.mat-card {
  margin-top: 15px;

}
