<p>tilt-hover-effect3d</p>



<!--<div fxFlex="50%" fxFlex.gt-sm="100%"> element </div>

<div fxLayout='column' class="zero">

  <div fxFlex="33" [fxFlex.md]="box1Width" class="one" > element</div>
  <div fxFlex="33" [fxLayout]="direction" fxLayout.md="row" class="two">

    <div fxFlex="22"    fxFlex.md="10px" fxHide.lg                       class="two_one"></div>
    <div fxFlex="205px" fxFlex.md="65"                                    class="two_two"></div>
    <div fxFlex="30px"  fxFlex.md="25"   fxShow [fxHide.md]="hideBox"   class="two_three"></div>


    element</div>
  <div fxFlex class="three">element</div>

</div>-->
<mat-card>
  <div class="conteiner"
       fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="20px"
       fxLayoutAlign="flex-start">

    <mat-card class="box"
              data-tilt fxFlex="0 1 calc(50% - 20px)"
              fxFlex.lt-md="0 1 calc(100% - 20px)"
              fxFlex.lt-sm="100%">
      <div class="imgBx" data-tilt>
        <img mat-card-image src="./assets/images/home.jpg">
      </div>
      <div class="contentBx">
        <h2>
          Iceland says..
        </h2>
        <p> dolor sit amet
          consectetur adipisicing elit. Iusto delectus repellat
          autem iure consequuntur vel. Saepe error asperiores
          odio nulla consectetur? Maiores iste id dolorem harum
          vero qui minima non.
        </p>
      </div>
    </mat-card>

    <mat-card class="box"
              data-tilt fxFlex="0 1 calc(50% - 20px)"
              fxFlex.lt-md="0 1 calc(100% - 20px)"
              fxFlex.lt-sm="100%">
      <div class="imgBx" data-tilt>
        <img mat-card-image src="./assets/images/boat.jpg">
      </div>
      <div class="contentBx">
        <h2>
          no stress
        </h2>
        <p> dolor sit amet
          consectetur adipisicing elit. Iusto delectus repellat
          autem iure consequuntur vel. Saepe error asperiores
          odio nulla consectetur? Maiores iste id dolorem harum
          vero qui minima non.
        </p>
      </div>
    </mat-card>
  </div>
</mat-card>
