<p>filter-gallery works!</p>


<section>
  <ul>
    <li class="list active" data-filter="all">All</li>
    <li class="list" data-filter="mobile">Mobile</li>
    <li class="list" data-filter="camera">Camera</li>
    <li class="list" data-filter="Watch">Watch</li>
    <li class="list" data-filter="shoe">Shoe</li>
    <li class="list" data-filter="headphone">Headphone</li>
  </ul>
  <div class="product">
    <div class="itemBox mobile"><img src="./assets/images/phone1.avif"></div>
    <div class="itemBox camera"><img src="./assets/images/camera1.webp"></div>
    <div class="itemBox Watch"><img src="./assets/images/wotch1.webp"></div>
    <div class="itemBox shoe"><img src="./assets/images/shoe1.webp"></div>
    <div class="itemBox headphone"><img src="./assets/images/headphone1.webp"></div>
    <div class="itemBox mobile"><img src="./assets/images/phone2.avif"></div>
    <div class="itemBox camera"><img src="./assets/images/camera2.webp"></div>
    <div class="itemBox Watch"><img src="./assets/images/wotch2.webp"></div>
    <div class="itemBox shoe"><img src="./assets/images/shoe2.webp"></div>
    <div class="itemBox headphone"><img src="./assets/images/headphone2.webp"></div>
    <div class="itemBox mobile"><img src="./assets/images/phone3.avif"></div>
    <div class="itemBox camera"><img src="./assets/images/camera3.webp"></div>
    <div class="itemBox Watch"><img src="./assets/images/wotch3.webp"></div>
    <div class="itemBox shoe"><img src="./assets/images/shoe3.webp"></div>
    <div class="itemBox headphone"><img src="./assets/images/headphone3.webp"></div>
    <div class="itemBox mobile"><img src="./assets/images/phone4.avif"></div>
    <div class="itemBox camera"><img src="./assets/images/camera4.webp"></div>
    <div class="itemBox Watch"><img src="./assets/images/wotch4.webp"></div>
    <div class="itemBox shoe"><img src="./assets/images/shoe4.webp"></div>
    <div class="itemBox headphone"><img src="./assets/images/headphone4.webp"></div>
  </div>
</section>
