<p>scrolling-conteiner works!</p>


 <div class="container">
    <mat-card class="card" *ngFor='let slide of img'>
    <img src="{{slide.imageUrl}}">
  </mat-card>
 </div>


<!-- <mat-card class="card"><img src="/assets/images/isl-riwer.webp" alt="Bhutan"></mat-card>
    <mat-card class="card"><img src="/assets/images/isl-hause.webp" alt="Bhutan"></mat-card>
    <mat-card class="card"><img src="/assets/images/isl 4.jpeg" alt="Bhutan"></mat-card>
    <mat-card class="card"><img src="/assets/images/istock-isl.webp" alt="Bhutan"></mat-card>
    <mat-card class="card"><img src="/assets/images/iceland-waterfalls1.webp" alt="Bhutan"></mat-card>
    <mat-card class="card"><img src="/assets/images/iceland-waterfalls1.webp" alt="Bhutan"></mat-card>
    <mat-card class="card"><img src="/assets/images/isl-hause.webp" alt="Bhutan"></mat-card>
 -->
