

.container {
  display: flex;
}

.conteiner {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.conteiner::-webkit-scrollbar {
  display: none;
}

.container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.container {
  -webkit-overflow-scrolling: touch;
}

.card {
  margin: 15px;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

/* * {
  box-sizing: border-box;
} */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  margin-top: -50px;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(34, 34, 34, 0.42);
  margin-left: 1%;
  position: absolute;
}
/*  margin: 0px auto; выставляет блок по центру */

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {

  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */


.active,
.demo:hover {
  opacity: 1;
}
